.likely {
  display: flex;
}

.likely__widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 15px 22px rgba(121,54,68,.2);
  cursor: pointer;
  transition: transform 150ms linear, box-shadow 150ms linear;

  &:hover {
    transform: scale(.98);
    box-shadow: 0 10px 16px rgba(75,34,43,.2);
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.likely__button {
  display: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &_facebook {
    margin-left: 12px;
  }

  @media ($m-xs) {
    display: block;
  }
}

.likely__icon {

  & svg {
    display: block;
  }

  &_facebook > svg {
    width: 24px;
    height: 24px;
    fill: #4267B2;
  }

  &_vkontakte > svg {
    width: 28px;
    height: 28px;
    fill: #5B88BD;
  }

  &_twitter > svg {
    width: 26px;
    height: 26px;
    fill: #1DA1F2;
  }
}

.likely__counter {
  display: none;
}